*{
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
}

.logo{
    background-color: gold;
    width: 50px;
    height: 50px;
    margin-top: 35px;
}

.titulo{
    background-color: white;
    width: 177px;
    height: 50px;
    margin-top: 30px;

}

.textotitulo{
    color: black;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 15px;
    text-shadow: 4px 4px 4px gold;

}

.ingreso{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid gold;
    padding: 10px 30px;
    z-index: 1;
    overflow: hidden;
    transition: color 1s, box-shadow 0.4s;
}

.ingreso:hover{
    transition-delay: 0s, 0.2s;
    color: #fff;
    box-shadow:
        0 0 10px violet,
        0 0 20px violet,
        0 0 40px violet,
        0 0 80px violet,
        0 0 160px violet;
}


.boton{
    background-color: transparent;
    width: 50px;
    height: 50px;
    margin-top: 30px;

}

nav{
    background-color: black;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li{
    display: inline;
    margin-right: 20px;
    
}

nav a{
    color: white;
    font-size: 25px;
    text-decoration: none;
}

nav a:hover{
    position: relative;
    padding: 20px 30px;
    background: transparent;
    border: 3px solid #f3eaff;
    border-radius: 50px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 25px;
    text-decoration: none;
    color: #fff;
    box-shadow: 0 0 7px 0 gold, 0 0 5px 2px gold, inset 0 0 7px 0 gold, inset 0 0 5px 1px gold;
}

.principal{
    background-color: white;
    width: 100%;
    height: 700px;
}
footer{
    background-color: black;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}